# =========================================
# 🧠 Node.js & Express Backend
# =========================================

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (⚠️ sensitive data)
.env
.env.local
.env.*.local


